<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632612835962-r5ip3nf2aeap7g90pq8ua0oakkkdi4tg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632612835962-r5ip3nf2aeap7g90pq8ua0oakkkdi4tg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632612835962-peceuke3ck4fpc904geq3i1qbb2u06pc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzg-63Axqk5vjXPMU4uws96Xy79Imjm5k</string>
	<key>GCM_SENDER_ID</key>
	<string>632612835962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.likhitgarimella.Envit</string>
	<key>PROJECT_ID</key>
	<string>vit-share</string>
	<key>STORAGE_BUCKET</key>
	<string>vit-share.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632612835962:ios:98ae32cb59ebb27b3221c3</string>
	<key>DATABASE_URL</key>
	<string>https://vit-share.firebaseio.com</string>
</dict>
</plist>